<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopmanage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".hoadonchitiet.HoaDonChiTietActivity"
            android:parentActivityName=".sanpham.SanPhamActivity"
            android:theme="@style/HoaDonChiTiet.NoActionBar"></activity>
        <activity
            android:name=".khachhang.KhachHangActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/KhachHang.NoActionBar" />
        <activity
            android:name=".hoadon.HoaDonActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HoaDon.NoActionBar" />
        <activity
            android:name=".sanpham.SanPhamActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SanPham.NoActionBar" />
        <activity
            android:name=".hang.LoaiActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Loai.NoActionBar" />
        <activity
            android:name=".nhanvien.NhanVienActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NhanVien.NoActionBar" />
        <activity
            android:name=".nguoidung.UserActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".manhinhcho.ManHinhCho">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>